@using Fitness_Tracker.Infrastructure.Data.Models
@model ExerciseViewModel

@{
    ViewBag.Title = Model.ExerciseName;
}
<div class="container text-center">
    <div class="container text-center">
        <div class="row row-cols-3">
            <div class="col-3"></div>
            <div class="col-6">
                <h2 class="text-center col">@ViewBag.Title</h2>
            </div>
            <div class="col-3">
                <a class="btn btn-outline-dark bg-warning bg-opacity-75" asp-controller="Exercise" asp-action="Edit" asp-route-id="@Model.Id" asp-route-information="">Edit</a>
            </div>
        </div>
        <hr />
    </div>

    <div class="clearfix">
        <div class="col-4 float-end" style="height: 500px">
            <div class="rounded-1 overflow-hidden d-block align-content-center bg-secondary" style="height: 100%">
                <img src="@Model.ImageUrl" class="" alt="No image yet." style="width: 100%" />
            </div>
        </div>
        <p class="text-md-start">@Model.ExerciseDescription</p>
    </div>
</div>